.header {
    background-color: #fdfdcf; /* или #fdfdcf из Figma */
    height: 80px;
    padding: 16px 80px 16px 16px;
    width: 100%;
    margin: 0 auto;
  }
  
.logo {
    padding-right: 128px;
}
  
.username {
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    color: #000;
}
.userhandle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: rgba(0, 0, 0, 0.64);
}
.link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.64)!important;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}

.current {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  text-align: center;
  pointer-events: none; // чтобы не кликалась
}



  @media screen and (max-width: 768px) {
    .logo {
      padding-right: 0;
    }

    .header {
      padding:16px 20px;
    }
}

@media screen and (max-width: 360px) {
  .logo {
    padding-right: 0;
  }

  .header {
    padding:8px 16px;
  }
}