.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  .layout {
    display: flex;
    flex: 1;
    height: calc(100vh - 80px - 60px); // 80 — header, 60 — footer
    overflow: hidden;
  }
  
  .sidebar {
    width: 256px;
    overflow-y: auto;
    background: #f7f7f7;
  }
  
  .main {
    flex: 1;
    overflow-y: auto;
  }

    

  .right {
    width: 240px;
    background: #fff;
    padding: 24px;
    overflow: hidden;
    position: sticky;
    top: 80px; // столько же, сколько высота хедера
    height: calc(100vh - 80px - 60px); // высота минус header и footer
  
    
  }
  
  @media (max-width: 768px) {
  
    .layout {
      flex-direction: column;
    }
  
    .sidebar {
      display: none;
    }
  
    .main {
      padding: 16px;
    }
    .right {
      display: none;
    }
  }

  